body{
  width: 100%;
}
header{
  width: 1340px;
height: 94px;
left: 0px;
top: 0px;
margin-left: 12px;
background: #562EFF;
}
.idea{
display: flex;


}
.logo{
  position: absolute;
  width: 40.42px;
height: 51px;
left: 285px;
top: 26px;
}
.logo-desc{
  position: absolute;
  color: #FFFFFF;
  width: 54px;
  height: 56px;
  left: 341px;
  top: 15px;
  font-weight: 500;
  font-size: 24px;
 
}
.profile-btn-home{
  position: absolute;
  width: 48px;
height: 24px;
left: 847px;
top: 41px;
background: none;
border: none;
color:white ;
}
.profile-btn-about{
  position: absolute;
width: 48px;
height: 24px;
left: 931px;
top: 41px;
background: none;
border: none;
color:white ;
}
.profile-btn-work{
  position: absolute;
width: 49px;
height: 24px;
left: 1015px;
top: 41px;
background: none;
border: none;
color:white ;
}
.dp{
  position: absolute;
width: 51px;
height: 51px;
left: 1100px;
top: 28px;
}